@font-face {
    font-family: "Roboto Italic";
    src: url("Roboto-Italic-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-VariableFont_wdth,wght.ttf");
}