@import "font/index.css";

a {
    color: var(--focused-border-color);
}

a:hover {
    text-decoration: underline;
    cursor: pointer
}

html {
    background-color: var(--light, var(--primary-color)) var(--dark, var(--primary-color-7));
    color: var(--secondary-color);
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.show-focus:focus {
    background-color: var(--primary-color-5);
}

.show-hover:hover {
    text-decoration: underline;
}