a {
    color: var(--focused-border-color);
}

a:hover {
    text-decoration: underline;
    cursor: pointer
}

html {
    background-color: var(--light, var(--primary-color)) var(--dark, var(--primary-color-7));
    color: var(--secondary-color);
}
